.mission-list {
  padding: 14px;
}

.mission-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 400px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  padding: auto;
}

.mission-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

mat-card-header {
  color: white;
  padding: 6px;
}

mat-card-title {
  font-size: 1.2rem;
  font-weight: 500;
}

mat-card-subtitle {
  font-size: 1rem;
  opacity: 0.8;
}

mat-card-content {
  flex-grow: 1;
}

mat-card-content p {
  font-size: 0.7rem;
  margin: 8px 0;
}

mat-list-item {
  height: 78px;
}
